* {
  margin: 0;
  padding: 0; }

body {
  background: white;
  font-size: 82%; }

blockquote, ol, p, ul,
h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }

h1, h2, h3 {
  margin: 1em 0 0.5em; }

p {
  margin: 1em 0; }

p.success {
  padding: 0.75em;
  border: 1px solid #B4D389;
  -webkit-border-radius: 0.3em;
  background: #DEEEC8;
  font-size: 120%;
  font-weight: bold;
  text-align: center; }

ul, ol {
  margin: 1em 1.5em; }

li {
  margin: 0.5em 0; }

#logo {
  margin: 0 5%;
  padding: 0.4em 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  letter-spacing: -1px; }

#header {
  height: 4em;
  border-bottom: 2px solid #999;
  background: black;
  color: white; }

#inner-wrapper {
  background: white; }

#content {
  margin: 0 5%; }
