%h1 Home Page

%p.success Congratulations, Topcat is installed!

%p Next steps:
%ul
  %li= link_to "Create a new page", url(:new_topcat_page)
  %li Override this file to setup the default home page for your CMS.
  %li Override the layout, CSS and JavaScript files to style your site up.
